<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>

<body>
    <h2>Pour rappel :</h2>
    <p>Vous êtes attendu avec votre foodtruck : <b>{{ reservation.foodtruck.nom }}</b> le <b>{{ reservation.dateReservation|date("d/m/Y") }}</b> à 11h, 
        sur le campus de <b>{{ reservation.creneauReserve.campus.ville }}</b>, à <b>"{{ reservation.creneauReserve.numeroNom }}"</b>.</p>
    <p>On en salive d'avance ! &#x1F924; </p>
    <br>
    <p>Société Hooly</p>
    <br>
    <p>Ce mail est un message automatique, merci de ne pas y répondre.</p>
</body>

</html>